$("#new_export_log").modal('hide');

$("#new_export_log_holder").empty();
$("#new_export_log_holder").remove();

$("body").append("<div id='new_export_log_holder'></div>");

$("#new_export_log_holder").append('<%= j render("export_logs/form") %>');
var myModal = new bootstrap.Modal(document.getElementById('new_export_log'), {
    backdrop: 'static'
});
myModal.show();
