$("#full_info_export_log").modal('hide');

$("#full_info_export_log_holder").empty();
$("#full_info_export_log_holder").remove();

$("body").append("<div id='full_info_export_log_holder'></div>");

$("#full_info_export_log_holder").append('<%= j render("export_logs/full_info") %>');
var myModal = new bootstrap.Modal(document.getElementById('full_info_export_log'), {
    backdrop: 'static'
});
myModal.show();
