db/*.sqlite3
log/*
tmp/
public/uploads/**/*
MissingDrawer.tmplugin
.sass-cache/
.DS_Store
.vagrant
uploads/
REVISION
assets_manifest_backup/
config/secrets.yml
node_modules/
public/assets/
yarn.lock
*.log
.bundle
lib/tasks/gem_records.txt
app_settings.yml
.byebug_history
.rubocop.yml
