<div class="student">
	<table width="100%">
		<tr>
			<td class="avatar"><i class=" fa fa-graduation-cap"></i></td>
			<td class="meat">
				<h3><%= link_to student.name, student %></h3>
				<p class="blend">created by <%= student.created_by.name %> on <%= student.created_at.strftime("%B %d, %Y") %></p>
			</td>
			<td class="extra">
				<span class="strong"><%= student.sisid %> </span>
			</td>
		</tr>
	</table>
</div>
