<% title "Gem Records" %>
<% title_html do %>
	<h1 class="border-bottom mb-3">Gem Records</h1>
<% end %>

<% if @search_result %>
	<h4><%= @search_result %></h4>
<% end %>

<div class="pagination">
	<%= paginate @gem_records %>
</div>


<div class="gem_records">
	<% @gem_records.each do |gem_record| %>
		<%= render partial: gem_record %>
	<% end %>
</div>

<div class="pagination">
	<%= paginate @gem_records %>
</div>
