<% remote = request.xhr? ? true : false %>
<div class="modal" tabindex="-1" id="permanent_embargo_holder_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Place Permanent Embargo</h5>
				<% if request.xhr? %>
	        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				<% end %>
      </div>
			<%= simple_form_for [@student, @thesis], url: student_thesis_embargo_path(@student, @thesis), method: :post, remote: remote do |f| %>
				<div class="modal-body">
					<p>Placing permanent embargo will disallow this thesis to be published to YorkSpace forever.</p>
					<p>Permanent embargo can not be removed, and an explanation is required.</p>
					<div id="embargo_modal_textfield">
						<%= f.input :embargo, input_html: { class: "form-control", rows: "4" },
							label: "Embargo Explanation", readonly: read_only_if_student("embargo")   %>
					</div>
				</div>
				<div class="modal-footer">
					<% if request.xhr? %>
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					<% else %>
						<%= link_to "Cancel", :back, class: "btn btn-secondary" %>
					<% end %>
					<%= f.button :submit, "Place Embargo", class: "btn btn-primary", data: { confirm: "Are you sure? This action is permanent."} %>
				</div>
			<% end %>
    </div>
  </div>
</div>
