$("#permanent_embargo_holder").remove();
$("body").append("<div id='permanent_embargo_holder'></div>");
$("#permanent_embargo_holder").append("<%= j render "form" %>");
var myModal = new bootstrap.Modal(document.getElementById('permanent_embargo_holder_modal'), {
    backdrop: 'static'
});
myModal.show();
