<div class="modal fade" id="file_upload_modal" data-bs-keyboard="false" tabindex="-1" aria-hidden="true" data-bs-backdrop="static">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">
        	File Upload
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      	<%= render partial: "form", locals: { modal: true} %>
      </div>
    </div>
  </div>
</div>
