<li class="nav-item">
	<%= active_link_to "My ETD Submission", student_view_index_path, active: /\A\/my\z/, class:"nav-link" %>
</li>
<li class="nav-item">
	<%= active_link_to "My Details", student_view_details_path, active: /\/details/, class:"nav-link" %>
</li>
