/** Audit Trail */
section#audit_trail {
	h3 { font-size: 18px; padding-bottom: 15px; text-align: center;}
	
	table {
		width: 100%; max-width: 100%;  margin-bottom: 18px;
	
		tr.date { border-bottom: 1px solid #DDD; font-weight: bold;  font-size: 15px;}
		td { 
			line-height: 18px; padding: 8px; text-align: left; vertical-align: top; 
			&.time { width: 40px; }
			&.who { text-align: right; }
			&.what { text-align: left; text-transform: lowercase; width: 120px; 
				span.student { background-color: #C87800;  }
				span.thesis { background-color: #7A4A77; }
				span.document { background-color: #6492AC; }
				span.user { background-color: #334E7D;  }
				span.gem_record { background-color: #232323; }
			}	
		
		}
	
	}
}