<div class="border border-primary rounded p-1 m-1" id="committee_member_<%= committee_member.id %>">
	<%= committee_member.role %>: <span class="fw-bold"><%= committee_member.name %></span>
	<% if can?(:manage, committee_member) && @thesis.status != Thesis::PUBLISHED  %>
	
		<%= link_to student_thesis_committee_member_path(@student, @thesis, committee_member),
								method: :delete, class: "btn btn-close pull-right", remote: true, data: { confirm: "Are you sure?" } do %>&nbsp;<% end %>
	
	<% end %>
</div>
